aclocal.m4
autom4te.cache
config.h*
config.h.in
config.log
config.status
config.guess
config.sub
config.rpath
configure
libtool
stamp-h
stamp-h.in
stamp-h1
gst-element-check-*.m4
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
_stdint.h

aclocal-copy/
arm-poky-linux-gnueabi-libtool
cscope.files
cscope.out
gstreamer-fsl-1.0.pc
gstreamer-fsl.pc
tags
tools/gplay/gplay-1.0


.deps
.libs
*.lo
*.la
*.o
*~
*.bak
/m4
Makefile.in
Makefile
*.gir
*.typelib

tmp-orc.c
gst*orc.h
tests/check/orc

Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

*.trs
*.log

plugins/aiurdemux/aiur_registry_1.0.arm11.cf
plugins/beepdec/beep_registry_1.0.arm12.cf

